<section class="jumbotron" style="background:url( {{ jumbotron.img.src }} ); height:{{ jumbotron.view_height }}; min-height:{{ jumbotron.view_height }};">
  <div class="jumbotron__overlay" style="background:rgba({{ jumbotron.overlay_color }}, {{ jumbotron.overlay_opacity }}); height:{{ jumbotron.view_height }};">
    <div class="jumbotron__overlay-content vertical-center text-center">
      <h1 class="jumbotron__title text-3 white">{{ jumbotron.title }}</h1>
      <div class="jumbotron__sub-title text-2 white">
        {{ jumbotron.sub_title }}
      </div>
    </div>
  </div>
</section>
